.header{
    background: rgb(231, 226, 226);
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerItemLeft{
    margin-left: 300px;
}

.headerItemRight{
    margin-right: 30px;
}


.userProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #001f3f;
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
}